/* Initialize margins and padding of all elements */
* {
    margin: 0;
    padding: 0;
}
/* make sure that the body takes the full size of the screen */
body {
    height: 100vh;
}
/* add all the same style between element P and A */
p, a {
    font-family: 'Alice', serif;
    font-family: 'Libre Bodoni', serif;
}
/* Put the elements of the page header one below the other with FLLEX */
header {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}
/* Position the header logo on the left and the header social network on the right */
#BoxLogoAndSocialNetwork {
    display: flex;
    justify-content: space-between;
}
/* Peel the logo off the header from the edge of the page */
#Logo {
    margin-left: 50px;
}
/* peel the social networks off the header of the edge of the page, then center them */
#BoxSocialNetwork {
    display: flex;
    align-items: center;

    margin-right: 50px;
}
/* agrendate HR at height */
#HrSocialNetwork {
    height: 10px;
}
/* Add a margin to the left and right of each social network logo */
#iconSocialNetwork {
    margin-left: 5px;
    margin-right: 5px;
}
/* on all A links in the BoxSocialNetwork container add a height of 15 px and remove the style of the default A links, add the color in black */
#BoxSocialNetwork a {
    height: 15px;

    text-decoration: none;
    color: black;
}
/* add a margin in height for the container of the Navigation bar, and put the Navigation bar in the foreground */
nav {
    margin-top: 20px;

    z-index: 3;
}
/* container of the navigation bar button for mobile mode, */
#boxButtonMobileNavBar {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;

    background: rgb(93,144,21);
    background: linear-gradient(323deg, rgba(93,144,21,1) 22%, rgba(122,190,28,1) 100%);
}

#ButtonMobileNavBar {
    width: 40px;
    height: 40px;

    border-radius: 10px;
    background-color: white;
}

#checkBoxButtonMobileNavBar {
    position: relative;

    width: 40px;
    height: 40px;

    bottom: 44px;

    opacity: 0%;
}

#checkBoxButtonMobileNavBar:checked + #boxLink {
    display: flex;
}

#checkBoxButtonMobileNavBar:checked + #boxLink #linkNavBar1 {
    animation-name: NavBarOpacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#checkBoxButtonMobileNavBar:checked + #boxLink #linkNavBar2 {
    animation-name: NavBarOpacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#checkBoxButtonMobileNavBar:checked + #boxLink #linkNavBar3 {
    animation-name: NavBarOpacity;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#boxLink {
    display: none;
    flex-direction: column;
    justify-content: center;

    position: relative;

    right: 150px;
    bottom: 40px;

    width: 340px;
}

#linkNavBar1 {
    margin-top: 5px;
    padding: 20px 140px 20px 140px;

    text-align: center;

    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: rgba(93,144,21,1);
}

#linkNavBar2 {
    margin-top: 10px;
    padding: 20px 140px 20px 140px;

    text-align: center;

    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: rgba(93,144,21,1);
}

#linkNavBar3 {
    margin-top: 10px;
    padding: 20px 140px 20px 140px;

    text-align: center;

    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: rgba(93,144,21,1);
}

@keyframes NavBarOpacity {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#boxButtonDesktopNavBar {
    position: relative;

    top: 20px;

    display: none;
    justify-content: space-around;
    align-items: center;

    height: 60px;
    width: 80%;

    border-radius: 25px;
    background: rgb(93,144,21);
    background: linear-gradient(323deg, rgba(93,144,21,1) 22%, rgba(122,190,28,1) 100%);
}

#linkNavBarDesktop1 {
    text-decoration: none;
    color: white;
}

#linkNavBarDesktop1:hover {
    font-size: 18px;
}

#linkNavBarDesktop2 {
    text-decoration: none;
    color: white;
}

#linkNavBarDesktop3:hover {
    font-size: 18px;
}

#linkNavBarDesktop3 {
    text-decoration: none;
    color: white;
}

#linkNavBarDesktop2:hover {
    font-size: 18px;
}

#backGround {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    bottom: 50px;

    z-index: 1;

    height: 500px;
    width: 100%;

    background-image: url('../img/background/nature.jpg');
    background-position: center;
    background-size: cover;
}

#boxBackgroundDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleH1 {
    text-align: center;
    font-size: 35px;

    color: white;
}

#paragrapheDescriptif {
    font-size: 17px;
    
    color: white;
}

#boxButtonBackground {
    margin-top: 30px;

    display: flex;
    justify-content: space-between;

    width: 290px;
}

#boxButtonBackground a {
    padding: 10px 20px 10px 20px;

    text-align: center;

    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid white;
    border-radius: 20px;
}

#boxButtonBackground a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.856);
    border: 3px solid white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gridBoxInfo {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 400px;

    grid-gap: 30px;
}

#titleInfoEnvironement {
    margin-bottom: 20px;
}

.boxInfoEnvironement1 {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    height: 400px;
}

.descriptionInfoEnvironement1 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 100%;

    background-color: #2d3129;
}

.descriptionInfoEnvironement1 p {
    padding: 20px;

    text-align: center;

    color: #bd994c;
}

.descriptionInfoEnvironement1 p a {
    color: rgb(255, 255, 255);
}

.imageInfoEnvironement1 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 100%;

    background-image: url('../img/background/glacier.jpg');
    background-position: center;
    background-size: cover;
}


.boxInfoEnvironement2 {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    height: 400px;
}

.descriptionInfoEnvironement2 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 100%;

    background-color: #2d3129;
}

.descriptionInfoEnvironement2 p {
    padding: 20px;

    text-align: center;

    color: #bd994c;
}

.descriptionInfoEnvironement2 p a {
    color: rgb(255, 255, 255);
}

.imageInfoEnvironement2 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 100%;

    background-image: url('../img/background/can.jpg');
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 800px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #boxButtonMobileNavBar {
        display: none;
    }

    #boxButtonDesktopNavBar {
        display: flex;
    }

    #backGround {
        background-position: bottom;
    }

    #gridBoxInfo {
        grid-template-columns: 400px 400px;
    }
  }